extends layouts/login-layout.pug

block content 
    .loginContainer
        H1 Login 
        form(method="post")
            input(type="text", name="studentName",placeholder="ID", required="")
            input(type="password", name ="studentPassword",placeholder="Password", required="")
            input(type="submit",value="Login")
        a(href="/register") Need an account? Register here.

