body{
    background-color: #0099ff
}
.wrapper{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.loginContainer{
    padding: 20px;
    width:80%;
    max-width:500px;
    border:1px solid #dedede;
    background-color:white;
    text-align: center;
    box-shadow: 0 3px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.3);
}

form{
    display :flex;
    flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="password"]{
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius:2px;
    border: 1px solid #dedede;
    background-color: #f2f2f2;
}

input[ type="submit"]{
  background-color:#0099ff;
    color:#ffffff;
    border: none;
    border-radius:3px;
    margin-bottom:10px
}